In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV into Dataframe

In [33]:
eruptions = "Resources/eruptions.csv"
eruptions_df = pd.read_csv(eruptions)

events = "Resources/events.csv"
events_df = pd.read_csv(events)

volcano = "Resources/volcano.csv"
volcano_df = pd.read_csv(volcano)

damage = "Resources/damage.csv"
damage_df = pd.read_csv(damage,sep=";")

damage_df

,Year,Month,Day,Flag Tsunami,Flag Earthquake,Volcano Name,Location,Country,Elevation,Volcano Type,...,Total Effects : Missing Description,Total Effects : Injuries,Total Effects : Injuries Description,Total Effects : Damages in million Dollars,Total Effects : Damage Description,Total Effects : Houses Destroyed,Total Effects : Houses Destroyed Description,Coordinates,Earthquakes : Houses damaged Description,Total Effects : Houses Damaged Description
0,1280,NaN,NaN,NaN,NaN,Quilotoa,Ecuador,Ecuador,3914,Caldera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-0.85,-78.9",NaN,NaN
1,1540,NaN,NaN,Tsunami,NaN,Augustine,Alaska-SW,United States,1252,Lava dome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"59.37,-153.42",NaN,NaN
2,1660,NaN,NaN,Tsunami,NaN,Long Island,New Guinea-NE of,Papua New Guinea,1280,Complex volcano,...,NaN,NaN,NaN,NaN,SEVERE (~>$5 to $24 million),NaN,Many (~101 to 1000 houses),"-5.358,147.12",NaN,NaN
3,1858,4.0,23.0,NaN,Earthquake,Tate-yama,Honshu-Japan,Japan,2621,Stratovolcano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"36.57,137.6",NaN,NaN
4,1864,1.0,3.0,NaN,NaN,Kelut,Java,Indonesia,1731,Stratovolcano,...,NaN,NaN,NaN,NaN,NaN,NaN,Many (~101 to 1000 houses),"-7.93,112.308",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,2010,8.0,6.0,NaN,NaN,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,1784,Stratovolcano,...,NaN,5.0,Few (~1 to 50 deaths),NaN,NaN,NaN,Few (~1 to 50 houses),"2.78,125.48",NaN,NaN
831,2014,11.0,10.0,NaN,NaN,Kilauea,Hawaiian Is,United States,1222,Shield volcano,...,NaN,NaN,NaN,14.5,SEVERE (~>$5 to $24 million),1.0,Few (~1 to 50 houses),"19.425,-155.292",NaN,NaN
832,2016,5.0,9.0,NaN,NaN,Sinabung,Sumatra,Indonesia,2460,Stratovolcano,...,NaN,4.0,Few (~1 to 50 deaths),NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,"3.17,98.392",NaN,NaN
833,2019,1.0,7.0,NaN,NaN,Manam,New Guinea-NE of,Papua New Guinea,1807,Stratovolcano,...,NaN,NaN,NaN,NaN,LIMITED (roughly corresponding to less than $1...,NaN,NaN,"-4.1,145.061",NaN,NaN
834,2019,5.0,7.0,NaN,NaN,Sinabung,Sumatra,Indonesia,2460,Stratovolcano,...,NaN,NaN,NaN,NaN,MODERATE (~$1 to $5 million),NaN,NaN,"3.17,98.392",NaN,NaN

In [23]:
events_df.head()

,volcano_number,volcano_name,eruption_number,eruption_start_year,event_number,event_type,event_remarks,event_date_year,event_date_month,event_date_day
0,210020,Chaine des Puys,10011,-4040,100001,Explosion,NaN,NaN,NaN,NaN
1,210020,Chaine des Puys,10011,-4040,100002,Scoria,NaN,NaN,NaN,NaN
2,210020,Chaine des Puys,10011,-4040,100003,Pyroclastic flow,NaN,NaN,NaN,NaN
3,210020,Chaine des Puys,10011,-4040,100004,Lava flow(s),NaN,NaN,NaN,NaN
4,210020,Chaine des Puys,10011,-4040,100005,Cinder cone formation,NaN,NaN,NaN,NaN

In [24]:
volcano_df.head()

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,México and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303